* {
  top: 0;
  padding: 0;
  margin: 0;
}
.vid {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.navbar-items {
  display: flex;
  text-align: center;
}
.navbar-items img{
  padding-top: 17px;
  padding-left: 20px;
}
li {
  top: 0;
  padding: 35px;
  margin-left: 70px;
  display: inline-block;
  font-weight: bolder;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
a:hover {
  color: rgb(34, 166, 240);
}
a:active {
  color: red;
}
input {
  text-align: center;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.484);
  border-radius: 10px;
  color: white;
  width: 400px;
  height: 25px;
}
.text #p1 {
  padding-top: 80px;
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: bolder;
  color: white;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text #p2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: bolder;
  color: white;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text #p3 {
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(rgb(182, 156, 190), rgb(55, 47, 47));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

