* {
  top: 0;
  padding: 0;
  margin: 0;
}
.music {
  background-color: black;
}
.navbar-items {
  display: flex;
  position: sticky;
  z-index: 10;
  text-align: center;
  border-bottom: 1px solid white;
}
.navbar-items img {
  padding-top: 17px;
  padding-left: 20px;
}
li {
  top: 0;
  padding: 35px;
  margin-left: 70px;
  display: inline-block;
  font-weight: bolder;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
a:hover {
  color: rgb(34, 166, 240);
}
a:active {
  color: red;
}
input {
  text-align: center;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.484);
  border-radius: 10px;
  color: white;
  width: 400px;
  height: 25px;
}
h1 {
  background-color: black;
  color: white;
  padding: 45px 0px 15px 110px;
  font-size: 50px;
  letter-spacing: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
  background-color: black;
  color: white;
  padding: 25px 0px 0px 110px;
  font-size: 40px;
  letter-spacing: 3px;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.music-list {
  box-sizing: border-box;
  padding: 30px;
  background-color: black;
}
.playlist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.music-box {
  position: relative;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.413);
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  /* transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); */
}
.music-box:hover {
  opacity: 0.3;
  transform: translateY(-5px);
}
.image {
  height: 250px;
  width: 250px;
  cursor: pointer;
}
h3,
.singer-name {
  color: white;
  text-align: center;
  padding: 2px;
  background: linear-gradient(
    90deg,
    rgb(3, 3, 3) 0%,
    rgb(1, 23, 28) 35%,
    rgb(255, 0, 0) 100%
  );
}
.singers-heading{
  margin-right: 50px;
  color: white;
  font-size: 40px;
  padding: 30px 0px 30px 83px;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.artists-list {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  margin-left: 130px;
  margin-bottom: 50px;
}
.artist-img{
  margin: 5px 10px 0px 10px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}
.artist-img:hover{
  opacity: 0.3;
  /* padding: 8px; */
  transform: translateY(-10px);
  
}
.artist {
  border-radius: 50%;
  padding: 10px;
}
.artists-name {
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}
.thankyou{
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 75px;
  font-size: 50px;
  padding: 40px 0px 10px 0px;
  border-bottom: 2px solid white;
  width: 1300px;
}
.icons{
  text-align: center;
  margin: 15px 33px 15px 0px
}
.social-icons{
  padding: 0px 0px 0px 30px;
  transition-property: all;
  transition-duration: 0.5s;
}
.social-icons:hover{
  transform: translateY(-5px);
}
.allrights{
  color: white;
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
