*{
    box-sizing: border-box;
    background-color: black;
}
img{
    margin-top: 10px;
    margin-left: 45%;
}
.div1{
    border: 1px solid white;
    margin: 30px 130px 50px 130px;
    padding: 20px;
    background-color: white;
}
p{
    color: white;
}
font{
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
}